[Desktop Entry]
Type=Application
Name=Screenshot Full
Comment=Full screen screenshot saved and copied
Exec=screenshot full
Icon=applets-screenshooter
Terminal=false
Categories=Utility;Graphics;
StartupNotify=false
